* {
  box-sizing: border-box;
}
h1 {
  font-size: 175%;
  margin-bottom: 15px;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
section {
  background-color: gray;
  font-size: 125%;
}
