body {
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #E67E22;
  border-radius: 0;
  border: 0;
}
